:root{

    /*Definición de colores*/
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #809bce;
    --segundo: #95b8d1;
    --tercero: #b8e0d2;
    --cuarto: #d6eadf;
    --quinto: #eac4d5;

}

body{

    background-color: rgb(69, 69, 184);
    font-family: sans-serif;
}
#titulo{
    margin-top: 5%;
    margin-left: 20%; /*Centrar título*/
    margin-bottom: 30px;
}


table{
    margin: auto;
}

td{

border-collapse: collapse;

}

#t1{
    background-color: rgb(32, 7, 43);
    color: aliceblue;
    width: 700px;
    margin-left: 5%;
    border: rgb(32, 7, 43) 10px solid;
    
    
}
#t2{
    width: 300px;
    vertical-align: top;
    border: rgb(69, 69, 184) 10px solid;
}

#bombilla{
    margin-left: 20%; /*Centrar título*/
    width: auto;
    height: 50px;
}