:root{

    /*Definición de colores*/
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #809bce;
    --segundo: #95b8d1;
    --tercero: #b8e0d2;
    --cuarto: #d6eadf;
    --quinto: #eac4d5;

}
body{
    height: 120%; 
    font-family: 'Krub', sans-serif;
    background: linear-gradient(#809bce, #95b8d1, #b8e0d2,#ffffff);  
    background-size: cover;
  }
body{

    background-color: rgb(184, 184, 230);
    font-family: sans-serif;
    font-family: 'Krub', sans-serif;
}
.vinculos{
    width: 25%;
    height: auto;
    border-style:solid;
    border-radius: 10px;
    border-color: #212121;
}

h1{
    text-align: center;
}


.vinculos:hover {filter: opacity(.5);}
.contenido:hover .vinculos {-webkit-transform:scale(1.25);transform:scale(1.25);}


#contenedor{
    display: flex;
justify-content: space-around;
}